[submodule "quickstart"]
	path = quickstart
	url = https://github.com/LiuJiewenTT/CBJQ_SS.QS.git
[submodule "startwrapper"]
	path = startwrapper
	url = https://github.com/LiuJiewenTT/CBJQ_SS.StartWrapper.git
[submodule "tools/snow_launcher_downloader"]
	path = tools/snow_launcher_downloader
	url = https://github.com/LiuJiewenTT/snow_launcher_downloader.git
