keep_local
tmp
Launchers/
snow_launcher.exe
snow.exe
tmp1.bat
README.html
国际服兼容研究/国际服兼容研究.html
/.vscode
/quickstart/build
CBJQ_SS.QS.kingsoft.exe
CBJQ_SS.QS.kingsoft.config.json
*.hide
*.log
CBJQ_SS.StartWrapper.exe
*.test
*.unhide
*.supervise
CBJQ_SS_FrontEnd-tk.config.json
log.txt
__pycache__
CBJQ_SS.QS.bilibili.exe
CBJQ_SS.QS.worldwide.exe
CBJQ_SS.QS.exe
